body, option, select, input {
    font-family: "Courier New";
}

select {
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

#chess_board {
	display: grid;
	grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
	grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
	grid-gap: 0px;
	width: 800px;
	height: 800px;
	float: left;
}

#history_box {
    flex-grow: 100; /* This doesn't work. :( */
    height: 800px;
    width: 350px; /* Do this for now. */
    background-color: white;
    border: 5px solid white;
    overflow-y: auto;
    border-radius: 5px;
}

.history_box_item {
    background-color: lightgrey;
    color: black;
    display: block;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.history_box_item_odd {
    background-color: grey;
}

.history_box_item_highlighted {
    background-color: yellow;
}

.history_box_item:hover {
    background-color: lightblue;
}

.tile_move_good {
    border: 5px solid lime;
}

.tile_move_bad {
    border: 5px solid red;
}

.tile_piece_checked {
    border: 5px solid purple;
}

.tile {
	z-index: 0;
}

.occupant {
	z-index: 1;
}

.white_tile {
	background-color: white;
	background-image: url( "images/white_tile.jpg" );
}

.black_tile {
	background-color: black;
	background-image: url( "images/black_tile.jpg" );
}